.page-header__repair-menu {
  position: relative;

  &::before {
    content: "";

    position: absolute;
    top: 4px;
    left: -22px;

    width: 2px;
    height: 32px;

    background-color: $lightgray;
    border-radius: 1px;

    @media (min-width: $full-width) {
      display: none;
    }
  }

  @media (min-width: $full-width) {
    margin-top: 14px;
  }
}

