.copyright__text {
  margin-bottom: 16px;
  text-align: center;
  line-height: 16px;
  font-weight: 500;
  color: $gray;

  &--text-align-left {
    @media (min-width: $tablet-width) {
      text-align: left;
    }
  }

  &--text-align-right {
    @media (min-width: $tablet-width) {
      text-align: right;
    }
  }

  &--width-213 {
    @media (min-width: $tablet-width) {
      width: 213px;
    }
  }
}
