.popup {
  position: fixed;
  top: 0;

  display: none;
  width: 100%;
  height: 100%;
}

@import "./__content/popup__content.scss";
@import "./__form/popup__form.scss";
@import "./__button/popup__button.scss";
