.repair__list-item {
  @media (min-width: $tablet-width) {
    width: 224px;
    height: 72px;
    margin-right: 24px;
    margin-bottom: 16px;
    box-sizing: border-box;

    background-color: $white;
    border: 1px solid $lightgray;
    border-radius: 6px;
  }

  @media (min-width: $desktop-width) {
    width: 240px;
    margin-right: 32px;
  }

  &--height-160 {
    height: 160px;
  }

  &--height-200 {
    height: 200px;
  }
}
