.title {

  &--first {
    position: relative;

    font-size: 28px;
    line-height: 40px;

    &::before {
      content: "";

      position: absolute;
      left: -17px;
      width: 4px;

      height: 40px;

      background-color: $blue;
      border-radius: 2px;

      @media (min-width: $tablet-width) {
        left: -25px;
      }

      @media (min-width: $desktop-width) {
        left: -33px;
      }
    }
  }

  &--second {
    padding: 16px 0;
    padding-left: 16px;

    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: $gray;
    text-transform: uppercase;
    letter-spacing: -0.2px;

    background: linear-gradient(90deg, $whitesmoke 1.39%, $white 100%);

    @media (min-width: $tablet-width) {
      padding-left: 24px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 32px;
    }
  }

  &--third {
    position: relative;

    font-size: 24px;
    line-height: 32px;
    font-weight: 700;

    &::before {
      content: "";

      position: absolute;
      left: -17px;
      top: -6px;

      width: 4px;
      height: 40px;

      background-color: $blue;
      border-radius: 2px;

      @media (min-width: $tablet-width) {
        left: -25px;
      }

      @media (min-width: $desktop-width) {
        left: -33px;
      }
    }
  }
}
