.main-nav__list-item {
  padding: 16px 0;

  &--active {
    position: relative;
    color: $gray;

    &::before {
      content: "";

      position: absolute;
      left: -17px;
      top: 12px;
      width: 4px;
      height: 32px;

      background-color: $blue;
      border-radius: 2px;

      @media (min-width: $tablet-width) {
        left: -25px;
      }

      @media (min-width: $desktop-width) {
        left: -33px;
      }
    }
  }
}
