.services__menu-list {
  display: flex;
  align-items: center;
  margin-top: 24px;

  overflow-x: auto;

  @media (min-width: $tablet-width) {
    margin-top: 32px;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: wrap;
  }
}
