.main-nav__menu-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  padding: 0 16px;
  padding-bottom: 32px;
  font-size: 16px;
  line-height: 24px;
  box-sizing: border-box;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);

  &--closed {
    display: none;

    @media (min-width: $full-width) {
      display: flex;
    }
  }

  &--opened {
    display: flex;
  }

  @media (min-width: 425px) {
    width: 320px;
  }

  @media (min-width: $tablet-width) {
    padding: 0 24px;
    padding-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 32px;
    padding-bottom: 32px;
  }
}