.repair__list {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-left: 24px;
    padding-top: 24px;

    overflow: hidden;
  }

  @media (min-width: $desktop-width) {
    margin-left: 32px;
  }
}
