.page-footer {
  padding-top: 16px;
  padding-bottom: 3px;

  background-color: $whitesmoke;
  border-top: 1px solid #D9FFF5;

  @media (min-width: $tablet-width) {
    padding-bottom: 9px;
  }

  @media (min-width: $full-width) {
    padding-left: 320px;
  }
}
