.price-list {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    width: 100%;
  }
}

.price-list__item {
  display: flex;
  align-items: center;
  padding: 16px 0;
  justify-content: space-between;
  border-top: 1px solid #EAEAEA;
}

.price-list>.price-list__item {
  padding: 16px 16px;
  padding-right: 135px;
  line-height: 16px;
  font-weight: 500;
  color: #7E7E82;

  @media (min-width: $desktop-width) {
    padding-right: 143px;
  }
}

.price-list__item:first-child {
  border: none;
}

.price-list__item span:first-child {
  width: 348px;
  margin-right: auto;
}

.price-list__item span:nth-child(2) {
  width: 74px;
  margin-right: auto;
}

.price-list__item span:nth-child(3) {
  width: 81px;
  margin-right: auto;
}

.price-list__item span:nth-child(4) {
  width: 119px;
  margin-left: auto;
}

.price-list .price-list__wrapper {
  background: #FFFFFF;
  border-radius: 6px;
  padding: 0 16px;
  box-sizing: border-box;

  @media (min-width: $desktop-width) {
    padding: 0 24px;
  }
}
